body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b7f6c0;
}

header {
    background-color: #1d7044;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

#cadastro {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(131, 249, 166);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#msg {
    margin-top: 10px;
    color: #d9534f;
}

.button {
    display: inline-block;
    padding: 8px 15px;
    background-color: #00ff3c;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#containerLista {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

img{
    width: 500px;
    height: 500px;
}